.navItem{
    height: 100%;
    box-sizing: border-box;
    transition: .2s;
}
.navItemActive{
    background-color: #212735;
}


@media only screen and (max-width: 700px) {
    .navItem {
        height: unset;
        width: 100%;
    }
}
