.navItem{
    height: 100%;
    line-height: 4.2rem;
    box-sizing: border-box;
    transition: .2s background-color;
    padding: 0 2rem;
    color: rgba(255, 255, 255, 0.62);
    font-family: 'Josefin Slab', serif;
    font-weight: 500;
    font-size: 1.2rem;
    text-decoration: none;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.navItem:hover{
    background-color: #2a3143;
}
.navItemActive{
    background-color: #212735;
}

.navItemRight{
    margin-left: auto;
}

@media only screen and (max-width: 600px) {
    .navItem {
        height: unset;
        width: 100%;
        writing-mode: vertical-lr;
        transform: rotate(-180deg);
        padding: 2rem 0;
        line-height: 3rem;
    }
}
