body{
  background-color: #212735;
  font-size: 16px;
}
h1{
  font-family: 'Alef', sans-serif;
  color: #867f7f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-file-upload-button {
  display: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.navItem{
  height: 100%;
  box-sizing: border-box;
  transition: .2s;
}
.navItem + .navItem{
  padding: 0 3rem;
  color: white;
  font-family: 'Alef', sans-serif;
  text-decoration: none;
  display: grid;
  place-items: center;
}
.navItem + .navItem:hover{
  background-color: #2a3143;
}
.navItemActive{
  background-color: #212735;
}
.logo{
  height: 100%;
  user-select: none;
}

.content{
  max-width: 37rem;
  margin: 0 auto;
  background-color: #212735;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
}


@media only screen and (max-width: 400px) {
  body{
    font-size: 10px;
  }
}
