body{
  background-color: #212735;
  font-size: 16px;
}
h1{
  font-family: 'Alef', sans-serif;
  color: #867f7f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-file-upload-button {
  display: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.header {
  background-color: #161923;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 6rem;
}

.logo{
  height: 100%;
  user-select: none;
}

.content{
  max-width: 37rem;
  margin: 0 auto;
  background-color: #212735;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
}


@media only screen and (max-width: 400px) {
  body{
    font-size: 10px;
  }
  .header {
    height: 3rem;
  }
}
