body{
  background-color: #212735;
  font-size: 16px;
}
h1{
  font-family: 'Alef', sans-serif;
  color: #867f7f;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-file-upload-button {
  display: none;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.header {
  background-color: #161923;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  height: 6rem;
}

.logo{
  height: 100%;
  user-select: none;
}

.content{
  max-width: 37rem;
  margin: 0 auto;
  background-color: #212735;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
}
.input{
  border-radius: 11px;
  border: none;
  padding: 1rem;
  background-color: #2a3143;
  color: white;
}
.reactionId{
  composes: input;
  margin-left: 1rem;
  width: 3rem;
  padding-left: 2.2rem;
}
.at{
  position: relative;
  line-height: 1rem;
}
.at::after{
  padding: 1rem;
  position: absolute;
  height: 100%;
  content: '@';
  left: 1rem;
  color: white;
}

.reactingOn{
  max-width: 30rem;
  border-radius: 11px;
  padding: .4rem 1.5rem .2rem;
  background-color: #2a3143;
  white-space: pre-wrap;
  margin-top: 2rem;
  position: relative;
}

.reactingOnInfo{
  position:absolute;
  background-color: #212735;
  border: 2px solid #2a3143;
  padding: .4rem .7rem;
  border-radius: 11px;
  top: -1rem;
  left: .7rem;
}
.reactingOn + .confession .confessionField{
  margin-left: 1rem;
}
.confessionField{
  display: block;
  composes: input;
  height: 9rem;
  margin-top: .5rem;
  position: relative;
  margin-right: .5rem;
  flex: 1 1 0;
  font-size: 1rem;
}
.action{
  display: block;
  composes: input;
  padding: .8rem 1.5rem;
  margin-top: .5rem;
  cursor: pointer;
  width: 100%;
}

.confessActions{
  flex: 0 0 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.action:hover{
  background-color: #353d54;
}

.cta{
  composes: action;
  background-color: #b53632;
  height: 3.225rem;
  overflow: hidden;
}
.cta:hover{
  background-color: #8a2a28;
}
.cta *{
  transition: .2s;
}
.loading{
  margin-top: 1rem;
}

.cta:disabled *{
  transform: translateY(-2.5rem);
}
.cta:disabled{
  background-color: #5b5453;
  cursor: initial;
}

.confession{
  position: relative;
  display: flex;
  flex-direction: row;
  width: 33rem;
}
.reactingOn + .confession::before{
  position: absolute;
  content: '';
  width: 2px;
  left: 0;
  top: .5rem;
  bottom: 0;
  background-color: #2a3143;
}

.uploadInput{
  width: 33rem;
  height: 5rem;
  background-color: #2a3143;
  border-radius: 11px;
  margin-top: .5rem;
}

@media only screen and (max-width: 600px) {
  .confession {
    flex-direction: column;
    width: 100%;
  }
  .confessActions{
    flex-direction: row;
  }
  .confessActions span{
    line-height: 4rem;
    margin-right: .5rem;
  }
  .action{
    margin-top: .5rem;
    margin-right: .5rem;
    width: 5rem;
  }
}

@media only screen and (max-width: 400px) {
  body{
    font-size: 10px;
  }
  .header {
    height: 3rem;
  }
}
