.input{
    border-radius: 11px;
    border: none;
    padding: 1rem;
    background-color: #2a3143;
    color: white;
    cursor: text;
    display: block;
    width: 100%;
    margin-top: .5rem;
    box-sizing: border-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    transition: .2s;
}
.actions{
    display: flex;
    flex-direction: row;
    margin-top: -1rem;
}
.action{
    composes: input;
    padding: .8rem 1.5rem;
    cursor: pointer;
    position: relative;
    text-align: center;
}

.action:disabled{
    box-shadow: none;
    opacity:.4;
}

.action:hover{
    box-shadow: 0 0 0 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12), inset 0 -3px 5px 0 rgba(0,0,0,.2);

}

.actionAlt{
    composes: action;
    background: #242a38;
}

.action:disabled{
    filter: brightness(0.8);
}
.actions button + button{
    margin-left: .5rem;
}
.red{
    composes: action;
    background-color: #a63737;
}
.green {
    composes: action;
    background-color: #807255;
}

.textLabel{
    display: flex;
    align-items: center;
}
.textLabel span{
    width: 15%;
}

.textInput{
    flex: 1;
    width: unset;
    display: inline-block;
    composes: input;
    position: relative;
    font-size: 1rem;
}

.htmlInput{
    display: block;
    composes: input;
    height: 14rem;
    margin-top: .5rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 1rem;
}

.imageUpload, .htmlLoad{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
}

.imageList{
    padding: 0;
    margin-bottom: 2rem;
    margin-top: -.2rem;
}

.imageList li{
    list-style-type: none;
    background: #2a3143;
    border-radius: 11px;
    overflow: hidden;
    display: flex;
    padding: 10px;
    align-items: center;
    margin-top: .7rem;
}

.imageList li > img{
    max-height: 80px;
    max-width: 80px;
    margin: -10px 10px -10px -10px;
}
.imageList div, .imageList a{
    margin: 0 .5rem;
}

.section{
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 21px;
    padding: 0.5rem 1rem 1rem;
}

.download{
    composes: actionAlt;
    display: block;
    text-decoration: none;
}
.previewContainer{
    margin-top: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius:11px;
    overflow: hidden;
    position: relative;
    width:100%;
    height:30rem;
    transform: translateZ(0px);
}
.preview{
    border: none;
    width: 200%;
    height: 60rem;
    transform-origin: top left;
    transform: scale(.5);
}

.htmlInputContainer{
    position: relative;
}

.sectionContainer{
    display: inline-block;
    width: 33rem;
    margin: 0 auto;
}

.archivedConfession{
    margin-bottom: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius:16px;
    padding: .7rem;
}

