
.logo{
  height: 100%;
  user-select: none;
}

.content{
  max-width: 37rem;
  margin: 0 auto;
  background-color: #212735;
  color: white;
  padding: 2rem;
  box-sizing: border-box;
}
.radio{
  display: grid;
  place-items: center;
  padding: 2rem;
  background-color: #b53632;
}


@media(max-width: 600px){
  .logo{
    height: 3rem;
    user-select: none;
  }
  .content{
    padding: 4rem 1rem 1rem 4rem;
  }
  .radio{
    position: fixed;
    display: grid;
    place-items: center;
    left: 3rem;
    right: 0;
    height: 3rem;
    padding: 0;
    background-color: #b53632;
  }
}
