.page {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.card{
	background: #2a3143;
	border-radius: 11px;
	margin: 0 auto 24px;
	max-width: 360px;
	box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
	padding: 1rem 2rem;
}

.header{
	padding: 0 0 0;
}

.title{
	padding-bottom: 16px;
	margin: 0;
	font-family: Alef, sans-serif;
	font-size: 20px;
	font-weight: 500;
}

.inputWrapper{
	padding: 20px 0;
	position: relative;
	width: 100%;
	font-size: 16px;
}

.label{
	bottom: 0;
	left: 0;
	right: 0;
	top: 24px;
	overflow: hidden;
	white-space: nowrap;
	position: absolute;
	transition: 0.2s;
	color: #ababab;
}

.label:after{
	bottom: 20px;
	left: 0;
	content: "";
	height: 2px;
	background-color: #3f51b5;
	position: absolute;
	visibility: hidden;
	width:10px;
	transition: .2s;
}
.input{
	color: white;
	border: none;
	border-bottom: 2px solid rgba(0,0,0,.12);
	background: none;
	font-size: 16px;
	padding: 4px 0;
	width: 100%;
}
.fileInputWrapper{
	composes: inputWrapper;
	cursor: pointer;
}
.fileInput{
	font-size: 16px;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	cursor: pointer;
}
.fileField{
	display: block;
	width: 100%;
	box-sizing: border-box;
	cursor: pointer;
	border: 2px dashed #222836;
	padding: 1rem 2rem;
}

.input:focus{
	outline: none;
}

.input:focus + .label, .input:not(:placeholder-shown) + .label{
	font-size: 12px;
	top: 4px;
}

.input:focus + .label:after, .input:not(:placeholder-shown) + .label:after{
	visibility: visible;
	width: 100%;
}


.greeting{
	max-width: 360px;
	margin: 0 auto 24px;
}

.section {
	width: 100%;
	max-width: 360px;

}
.section + .section {
	margin-top: 2rem;
}

.changeName {
	composes: section;
}

.logout {
	composes: section;
}

.actions {
	display: flex;
	flex-direction: row-reverse;
	gap: .8rem;
}
